<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .panel .panel-heading .action i {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    {{include '../_includes/header.html'}}
    <section class="container">
        <div class="row">
            <div class="col-md-9">
                {{if !topic}}
                <p>此话题不存在或已被删除。</p>
                <a class="btn btn-success" href="/">返回首页</a> {{else}}
                <article class="markdown-body">
                    <h1>{{topic.title}}</h1>
                    <!-- 话题的创建者===用户登录 -->
                    {{if topic.userId===sessionUserId}}
                    <a href="/topic/{{topic.id}}/edit">编辑</a>
                    <a href="/topic/{{topic.id}}/delete" id="delete_topic">删除</a> {{/if}}
                    <hr>{{topic.content}}
                </article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>lzz</span> commented
                        <span>24 minutes ago</span>
                        <span class="action">
                             <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
                            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        评论测试
                    </div>
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">添加回复</label>
                        <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">回复</button>
                </form>
                {{/if}}
            </div>
        </div>
    </section>
    {{include '../_includes/footer.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        // 点击删除
        //1.绑定事件
        $('#delete_topic').on('click', function(e) {
            //2.取消默认事件
            e.preventDefault();
            //3.如果点击时取消什么事不干,如果点击确定删除当前数据
            if (!window.confirm('确定删除吗?')) {
                return;
            }
            const url = '/topic/' + '{{topic.id}}' + '/delete';
            //ajax发送请求
            $.post(url, function(data) {
                // console.log(data);
                if (data.code === 200) {
                    //跳转到列表页
                    window.location.href = "/";
                }

            });

        })
    </script>
</body>

</html>